<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSAlert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84F298F31E49B7AD00CC4881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F299061E49B7AE00CC4881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F299111E49B7AE00CC4881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
